---
interface Props {
  label: string;
  link: string;
  dropdown?: boolean;
}

const { label, link, dropdown = false } = Astro.props;
---

<a href={link}>{label}</a>

<style>
  a {
    color: var(--text-color-reversed);
    text-decoration: none;
    width: 6rem;
    margin: 0.5rem 2rem;
    text-align: right;
  }
  a:first-child {
    margin-top: 2rem;
  }
  a:last-child {
    margin-bottom: 2rem;
  }

  @media (width > 724px) {
    a {
      margin: auto 0.5rem !important;
      text-align: center;
    }
  }
</style>
