---
import Main from "../layouts/Main.astro";
import Article from "../components/Article.astro";
import { Image } from "astro:assets";
import contact from "../assets/contact.svg";
---

<Main>
  <Article class="flex">
    <div class="description">
      <h2>Tarifs & Contact</h2>
      <table>
        <caption>Tarifs des différents cours</caption>
        <tr>
          <td></td><th scope="col">Piano</th><th scope="col">MAO</th>
        </tr>
        <tr>
          <th scope="row">30 min</th><td>15€<br /><i>Réservé aux enfants</i></td
          ><td class="unavailable">non disponible</td>
        </tr>
        <tr>
          <th scope="row">45 min</th><td>23€</td><td class="unavailable"
            >non disponible</td
          >
        </tr>
        <tr>
          <th scope="row">1 heure</th><td>30€</td><td>30€</td>
        </tr>
      </table>
      <p>
        Les cours se font à votre domicile. <br /><br />
        Paiement par CESU+ (Accordant un avantage fiscal de 50%, après cotisations)<br
        /><br />
      </p>
      <div class="contact">
        <h2>Comment me joindre ?</h2>
        <div class="accent">Benjamin.corion.note@gmail.com</div>
        <div class="ou">OU</div>
        <div class="accent">SMS au 06 28 38 83 73</div>
        <p>Nous fixerons un créneau pour un appel téléphonique.</p>
      </div>
    </div>
    <Image src={contact} alt="" class="img" />
  </Article>
</Main>
<style>
  h2 {
    margin: 2rem 0;
  }
  p {
    text-align: justify;
  }
  ul {
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  li {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  .img {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    object-fit: contain;
    margin: 2rem auto;
  }
  .contact {
    margin: 2rem 0;
  }
  .accent {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 500px;
  }
  .ou {
    text-align: center;
    font-weight: bold;
    width: 100%;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  th {
    color: var(--text-color-reversed);
    background: var(--secondary-300);
  }
  caption {
    caption-side: bottom;
  }
  th,
  td {
    border: 1px black solid;
    padding: 0.25rem 0.5rem;
    text-align: center;
  }
  table td:first-of-type {
    border-top: none;
    border-left: none;
  }
  .unavailable {
    color: rgb(140, 140, 140);
    background-color: rgb(240, 240, 240);
  }
  @media (width >= 480px) {
    th,
    td {
      padding: 0.5rem 1rem;
    }
  }
  @media (width >= 1024px) {
    th,
    td {
      padding: 1rem 2rem;
    }
  }
</style>
