---
import Banner from "../components/Banner.astro";
import Whoami from "../components/home/Whoami.astro";
import Piano from "../components/home/Piano.astro";
import Mao from "../components/home/Mao.astro";
import Main from "../layouts/Main.astro";
import Pricing from "../components/home/Pricing.astro";
---

<Main>
  <main>
    <Banner />
    <Whoami />
    <Piano />
    <Mao />
    <Pricing />
  </main>
</Main>
