---
import "../../styles/global.css";
import Article from "./Article.astro";
import mao from "../../assets/mao-avatar.jpg";
---

<Article
  title="Cours de MAO"
  subtitle="Musique Assistée par Ordinateur"
  img={mao}
  keyword="mao"
>
  <p>
    Intéressé(e) par la <strong>Musique de Film</strong> ou de <strong
      >Jeux Vidéos</strong
    > ? Tu aimerais apprendre à <strong>composer pour l'image</strong> ? <br
    /><br />Je te propose une découverte des
    <strong>techniques de compositions</strong>, les <strong
      >logiciels indispensables</strong
    > et bien plus !
  </p>
</Article>
