---
import "../../styles/global.css";
import Article from "./Article.astro";
import piano from "../../assets/piano-avatar.jpg";
---

<Article title="Cours de piano" img={piano} keyword="piano">
  <p>
    Tu aimerais <strong>apprendre le piano</strong> ? Jouer des morceaux qui te plaisent
    ?<br /><br />
    J'adapte mes cours en fonction de <strong>tes objectifs</strong> et de <strong
      >tes goûts</strong
    >.
  </p>
</Article>
