---
import Footer from "../components/Navigation/Footer.astro";
import Navbar from "../components/Navigation/NavBar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Benjamin Corion</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
