---
import Footer from "../components/Navigation/Footer.astro";
import Navbar from "../components/Navigation/NavBar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="favicon.png" />
    <title>Benjamin Corion — Cours de Piano</title>
    <meta
      name="description"
      content="Benjamin Corion, professeur de piano et compositeur, vous propose des cours efficaces et personnalisés pour apprendre le piano ou la MAO. "
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
